<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>📝 Обновление списка исключений прокси</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <main class="container">
        <h1>📝 Обновление списка исключений прокси</h1>

        <p>Список прокси обновлен. Изменения вступят в силу после перезагрузки браузера.</p>

        <button onclick="window.location.href='/converter'">Вернуться назад</button>
        <button onclick="window.location.href='/shutdown'">Остановить сервер приложения</button>
    </main>
</body>
</html>
